THE STORY
---------
Three monkeys named {{ monkey1 }}, {{ monkey2 }} and {{ monkey3 }} wore hats
that were three different colors. They were {{ color1 }}, {{ color2 }} and 
{{ color3 }}. Monkeys had 3 different favourite foods. Their 
favourite foods were {{ food1 }}, {{ food2 }} and {{ food3 }}.  
Based on the clues, match the monkeys with their hat colors and 
their favourite foods.        

CLUES
-----
1. {{ monkey3 }} did not {{ food2 }}.
2. {{ monkey2 }}'s best friend wore {{ color2 }} hat and ate {{ food1 }}.
3. {{ monkey3 }} wore a {{ color3 }} hat.

---------------------------------------------
{{ monkey1 }}       {{ monkey2 }}       {{ monkey3 }}
---------------------------------------------
{{ color1 }}        {{ color1 }}        {{ color1 }}
{{ color2 }}       {{ color2 }}        {{ color2 }}
{{ color3 }}        {{ color3 }}        {{ color3 }}
--------------------------------------------
{{ food1 }}       {{ food1 }}         {{ food1 }}
{{ food2 }}         {{ food2 }}         {{ food2 }}
{{ food3 }}         {{ food3 }}         {{ food3 }}
--------------------------------------------
