THE STORY
---------
Three turtles named {{ turtle1 }}, {{ turtle2 }} and {{ turtle3 }} wore shoes
that were three different colors. They wore {{ color1 }}, {{ color2 }} and 
{{ color3 }} shoes. Turtles were each of different type. They were
of types {{ type1 }}, {{ type2 }} and {{ type3 }}.  
Based on the clues, match the turtles with their shoe colors and 
their types.

CLUES
-----
1. {{ turtle2 }} thought the {{ type1 }} turtle in {{ color3 }} was snappy dresser.
2. {{ turtle3 }} did not wear {{ color2 }} shoes and he was not {{ type3 }} turtle.
3. {{ turtle2 }} was not a {{ type2 }} box turtle.
4. {{ turtle3 }} did not wear {{ color3 }} shoes.

---------------------------------------------
{{ turtle1 }}       {{ turtle2 }}       {{ turtle3 }}
---------------------------------------------
{{ color1 }}        {{ color1 }}        {{ color1 }}
{{ color2 }}       {{ color2 }}        {{ color2 }}
{{ color3 }}        {{ color3 }}        {{ color3 }}
--------------------------------------------
{{ type1 }}       {{ type1 }}         {{ type1 }}
{{ type2 }}         {{ type2 }}         {{ type2 }}
{{ type3 }}         {{ type3 }}         {{ type3 }}
--------------------------------------------
